th:nth-child(1) {
  width: 50px;
  text-align: center;
}

th:nth-child(3) {
  text-align: center;
  width: 100px;
}

th:nth-child(4) {
	text-align: center;
  width: 100px;
}

td:nth-child(3) {
  text-align: center;
}

td:nth-child(4) {
  text-align: center;
  width: 100px;
}

#pagination-container {
  width: 250px;
  margin: 0 auto;
}
div.tableRow {
  min-height: 100vh;
}
.img-thumbnail {
  margin: auto;
  height: 170px;
  max-width: 200px;
  max-height: 170px;
  overflow: hidden;
}

p.card-text {
  max-height: 4.8em;
  overflow: hidden;
  display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}