th:nth-child(1) {
  width: 50px;
  text-align: center;
}

th:nth-child(3) {
  text-align: center;
  width: 100px;
}

th:nth-child(4) {
	text-align: center;
  width: 100px;
}

td:nth-child(3) {
  text-align: center;
}

td:nth-child(4) {
  text-align: center;
  width: 100px;
}

#pagination-container {
  width: 250px;
  margin: 0 auto;
}
