th:nth-child(1) {
  width: 40px;
  text-align: center;
}

th:nth-child(2) {
  text-align: center;
  width: 100px;
}

th:nth-child(3) {
	text-align: center;
  width: 100px;
}
td:nth-child(1) {
  text-align: center;
  width: 40px;
}

td:nth-child(3) {
  text-align: center;
  width: 100px;
}
