.wrapper > div{
  background-color: orange;
  border: 1px black solid;
}
 
.wrapper > div:nth-child(odd){
  background-color: indianred;
}
 
.wrapper{
  display: grid
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px;
}