.my-row:hover {
	border: 1px solid #0B3861;
	text-decoration: none;
}

#my-title {
	margin-top: 40px;
	text-align: center;
}

h4 {
}

dt {
	float: left;
}

dd {
	margin-bottom: 15px;
	margin-left: 100px;
}

.mybtn {
	width: 70px;
}

.row {
	min-width: 300px;
	min-height: 300px;
	padding: 10px;
	margin: 10px;
}

.my-row {
	border: 1px solid #BDBDBD;
	background-color: white;
}

.container {
	padding-top: 5px;
}

body {
	background-color: #F2F2F2
}