.my-row:hover {
	border: 1px solid #0B3861;
	text-decoration: none;
}

#my-title {
	margin: 25px 0px 20px 45px;
}

dt {
	min-height: 20px;
	float: left;
}

dd {
	margin-bottom: 15px;
	margin-left: 100px;
}

.mybtn {
	margin-bottom: 20px;
	width: 70px;
}

.row {
	border: 1px solid #BDBDBD;
	box-sizing: border-box;
	min-width: 300px;
	margin: 10px;
	background-color: white;
}

.container {
	padding-top: 5px;
}

body {
	background-color: #F2F2F2
}

.my-col {
	margin: 20px;
	box-sizing: border-box;
}

#tel-dl {
	min-height: 70px;
}

.my-img {
	width: 100%;
	height: auto;
}

.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

