/*기본 CSS 설정*/
.wrap div {
	display: inline-block;
}

.item a:hover, .item a:visited, .item a:focus {
	color: inherit;
	text-decoration: none;
}

/* 디자인 CSS 바깥 부분 */
.wrap {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	font-size: 14px;
	max-width: 800px;
	max-height: 453px;
	margin: 0 auto;
}

.item {
	width: 50%;
	padding: 5px;
	float: left;
}

.inner {
	background: #fff;
	border: 1px solid #a8a8a8;
	padding: 5px;
}

.item:hover .inner {
	border-color: #07a;
}

/* 이미지 부분 디자인 */
.frame {
	padding: 20px;
	width: 100%;
	height: 130px;
	float: left;
	overflow: hidden;
}

/* 텍스트 부분 디자인 */
.text {
	height: 145px;
	padding: 20px;
	overflow: hidden;
}

/* 여기부터 내가 만진거*/
h5 {
	margin-top: 20px;
	margin-bottom: 15px;
	text-align: center;
}

#footer-p {
	text-align: center;
}

.myItem {
	width: 100%;
}

h4 {
	color: lightcoral;
}

#user-nickName {
	color: lightcoral;
}

#myP-p {
	color: gray;
}

dt {
	float: left;
}

dd {
	margin-bottom: 15px;
	margin-left: 100px;
}

.mybtn {
	width: 70px;
}

#psw-update-btn {
	margin-top: 35px;
}

.myframe {
	height: 300px;
}

.myinner {
	width: 790px;
}

div {
	border: 1px solid black; 
}

.row {
	min-width: 300px; 
	min-height: 300px;
	padding: 10px;
	margin: 10px;
}

.my-inner {
	height: 50px;
	width: 50px; 
	
}

