#my-title {
	margin: 25px 0px 20px 45px;
}

.my-address {
	margin-left: 3px;
}

.addressInput {
	margin-bottom: 4px;
}

#my-button-group1 {
	width: 100%;
}

#my-button-group2 {
	text-align: center;
	margin: 0 auto;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.jumbotron {
  background-image: url(회사.jpg);
  background-repeat: no-repeat;
  background-position: 70% 90%;
  background-attachment: fixed;
  margin: 0;
  color: white;
}

.jumbotron p {
  color: white !important;
}


