th:nth-child(1) {
  width: 50px;
}

th:nth-child(3) {
  text-align: center;
  width: 100px;
}

th:nth-child(4) {
  text-align: center;
  width: 60px;
}

td:nth-child(4) {
  text-align: center;
}

#pagination-container {
  width: 400px;
  margin: 0 auto;
}

#table-list {
	text-align: center;
}

#pagination-container {
	margin-left: 40%;
}

.bit-list {
  min-height: 500px;
}

.jumbotron {
  background-image: url(image/jumbo.jpg);
  background-repeat: no-repeat;
  background-position: 40% 125%;
  background-attachment: fixed;
  margin: 0;
  color: white;
}

.jumbotron p {
  color: white !important;
}

