<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="Console">
      <PatternLayout pattern="[%-5level] - %C => %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>
    <logger name="bitcamp.team" level="DEBUG" additivity="false">
      <AppenderRef ref="Console"/>
    </logger>
  </Loggers>
</Configuration>