<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitcamp.team.dao.FaqDao">

  <resultMap type="faq" id="faqMap">
    <id column="faq_no"      property="no" />
    <result column="faq_type_no" property="qcNo" />
    <result column="titl"    property="title" />
    <result column="conts"   property="contents" />

    <association property="faqType" javaType="faqType">
      <id column="faq_type_no"  property="no" />
      <result column="name" property="name" />
    </association>
  </resultMap>


  <select id="findAll" resultMap="faqMap">
    select
      f.faq_no,
      f.titl,
      f.conts,
      f.faq_type_no,
      ft.name
    from
      faq f
      left outer join faq_type ft on f.faq_type_no = ft.faq_type_no
    order by
      f.faq_type_no asc;
  </select>

  <select id="findCategoryList" resultMap="faqMap" parameterType="int">
    select
      f.faq_no,
      f.titl,
      f.conts,
      f.faq_type_no,
      ft.name
    from
      faq f
      left outer join faq_type ft on f.faq_type_no = ft.faq_type_no
    where
      f.faq_type_no = #{value}
    order by
      f.faq_type_no asc;
      
  </select>

  <select id='findCategoryName' resultMap="faqMap">
    select distinct
      ft.faq_type_no,
      ft.name
    from
      faq f
      right outer join faq_type ft on f.faq_type_no = ft.faq_type_no
    order by
      ft.faq_type_no asc;
  </select>

  <select id="findByNo" resultMap="faqMap" parameterType="int">
    select
      f.faq_no,
      f.titl,
      f.conts,
      f.faq_type_no,
      ft.name
    from
      faq f
      left outer join faq_type ft on f.faq_type_no = ft.faq_type_no
    where
      f.faq_no = #{value};
  </select>

  <insert id="insert" parameterType="faq">
    insert into
    faq(faq_type_no, titl, conts)
    values(#{qcNo}, #{title}, #{contents})
  </insert>

  <delete id="delete" parameterType="int">
    delete from
      faq
    <where>
      faq_no = #{value};
    </where>
  </delete>

  <update id="update" parameterType="faq">
    update
      faq
    set
      faq_type_no = #{qcNo},
      titl = #{title},
      conts = #{contents}
    where
      faq_no = #{no};
  </update>
  

</mapper>










