<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitcamp.team.dao.ManufactuereDao">

  <resultMap type="manufacturer" id="manufacturerMap">
    <id column="manufac_no" property="no" />
    <result column="name" property="name" />
    <result column="tel" property="tel" />
    <result column="homepage" property="homePage" />
    <result column="reg_no" property="registerNo" />
  </resultMap>

  <sql id="default-columns">
    manufac_no,
    name,
    tel,
    homepage,
    reg_no
  </sql>

  <select id="findAll" resultMap="manufacturerMap">
    select
      <include refid="default-columns"/>
    from
      manufacturer
    order by
      manufac_no desc;
  </select>

  <select id="findByNo" resultMap="manufacturerMap" parameterType="int">
    select 
      <include refid="default-columns"/>
    from 
      manufacturer
    where
      manufac_no = #{value}
  </select>
  
  <insert id="insert" parameterType="manufacturer">
  insert into manufacturer (
    name, tel, homepage, reg_no
  )
  values 
    (#{name}, #{tel}, #{homePage}, #{registerNo})    
  </insert>


</mapper>


