<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitcamp.team.dao.MemberDao">

  <resultMap type="member" id="memberMap">
    <id column="member_no" property="no" />
    <result column="email" property="email" />
    <result column="pwd" property="password" />
    <result column="name" property="name" />
    <result column="tel" property="tel" />
    <result column="n_name" property="nickName" />
    <result column="type" property="type" />
    <result column="ban" property="ban" />
  </resultMap>
 
  <sql id="default-columns">
    member_no,
    email,
    name,
    tel,
    n_name,
    type,
    ban,
    pwd
  </sql>

  <select id="findAll" resultMap="memberMap" parameterType="map">
    select
  <include refid="default-columns"/>
    from
      member
    order by
      member_no desc
  </select>
  
  <select id="findNoByNickName" resultMap="memberMap" parameterType="string">
    select
      member_no
    from
      member
    where
      n_name=#{value}
  </select>
  
  <select id="findByEmail" resultMap="memberMap" parameterType="string">
    select
      member_no,
      email
    from
      member
    where
      email = #{email}
  </select>
  
  <select id="findByNo" resultMap="memberMap" parameterType="int">
    select
  <include refid="default-columns"/>
    from member
    where
    member_no=#{value}
  </select>

  <insert id="insert" parameterType="member">
    insert into member (name, n_name, email, pwd, tel, type, ban)
    values
    (#{name}, #{nickName}, #{email}, password(#{password}), #{tel}, #{type}, #{ban})
  </insert>

  <select id="findByEmailPassword" resultMap="memberMap" parameterType="map">
    select
  <include refid="default-columns"/>
    from
      member
    where
      email=#{email}
      and pwd = password(#{password})
  </select>

</mapper>