<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="bitcamp.team.dao.ProductFileDao">

  <resultMap type="productFile" id="productFileMap">
    <id     column="pfile_no"   property="no"/>
    <result column="product_no"      property="productNo"/>
    <result column="img"   property="image"/>
    
    <collection property="product" javaType="product">
      <id column="p_no"    property="no"/>
      <result column="sctg_no"    property="smallCategoryNo"/>
      <result column="manufac_no"      property="manufacturerNo"/>
      <result column="name"       property="name"/>
    </collection>
  </resultMap>
  
  <select id="findByProductNo" resultMap="productFileMap" parameterType="int">
    select
      f.pfile_no,
      f.product_no,
      f.img,
      p.product_no as p_no,
      p.sctg_no,
      p.manufac_no,
      p.name
    from
      product_file f
    left outer join
      product p
    on
       f.product_no = p.product_no
    where
      f.product_no = #{value}
    order by
      f.pfile_no desc
  </select>
    
  <insert id="insert" parameterType="map">
    insert into 
      product_file(product_no, img)
    values 
      <foreach collection="list" item="productFile"
             separator=",">
      (#{product_file.productNo},#{product_file.image})
    </foreach>
  </insert>
</mapper>










