<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="bitcamp.team.dao.ProductDao">


  <resultMap type="product" id="productMap">
    <id     column="product_no"   property="no"/>
    <result column="sctg_no"      property="smallCategoryNo"/>
    <result column="manufac_no"   property="manufacturerNo"/>
    <result column="productName"         property="name"/>
    
    <association property="manufacturer" javaType="manufacturer">
      <id column="manufac_no"    property="no"/>
      <result column="reg_no"    property="registerNo"/>
      <result column="manufacturerName"      property="name"/>
      <result column="tel"       property="tel"/>
      <result column="homepage"  property="homePage"/>
    </association>
    
    <association property="productSmallCategory" javaType="productSmallCategory">
      <id column="sctg_no"    property="no"/>
      <result column="lctg_no"    property="largeCategoryNo"/>
      <result column="smallName"      property="name"/>
      <association property="productLargeCategory" javaType="productLargeCategory">
        <id column="lctg_no"       property="no"/>
        <result column="largeName"      property="name"/>
      </association>
    </association>
    
    <association property="tip" javaType="tip">
      <id column="tip_no"       property="no"/>
    </association>
    
    <collection property="productFiles" ofType="productFile" >
      <id column="pfile_no"       property="no"/>
      <result column="product_no" property="productNo"/>
      <result column="img"        property="img"/>
    </collection>
  </resultMap>
    
  <resultMap type="product" id="productFileMap">
    <id       column="product_no"         property="no"/>
    <result   column="name"               property="name"/>
    <collection property="productFiles"      ofType="productFile">
      <id     column="pfile_no"           property="no"/>
      <result column="productNo"          property="productNo"/>
      <result column="img"                property="img"/>
    </collection>
  </resultMap>
  
  <resultMap type="manufacturer" id="manufacturertMap">
    <id     column="manufac_no"   property="no"/>
    <result column="reg_no"      property="smallCategoryNo"/>
    <result column="name"      property="smallCategoryNo"/>
    <result column="tel"      property="smallCategoryNo"/>
    <result column="homepage"      property="smallCategoryNo"/>
  </resultMap>
  
  <select id="findLargeCategory" resultMap="productMap" >
    select distinct
      lc.lctg_no,
      lc.name as largeName
   from
      product p
      right join manufacturer mf on p.manufac_no=mf.manufac_no
      right join small_category sc on p.sctg_no=sc.sctg_no
      right join large_category lc on sc.lctg_no=lc.lctg_no
    order by
      lc.lctg_no asc;
  </select>
  
  <select id="findSmallCategory" resultMap="productMap" >
    select distinct
      sc.sctg_no,
      sc.name as smallName
   from
      product p
      right join manufacturer mf on p.manufac_no=mf.manufac_no
      right join small_category sc on p.sctg_no=sc.sctg_no
      right join large_category lc on sc.lctg_no=lc.lctg_no
    order by
      sc.sctg_no asc
  </select>
  
  
  <!-- 
      lc.name as 대분류,
      sc.name as 소분류,
  
   -->
  <select id="findAll" resultMap="productMap" parameterType="map">
    select
      mf.name as manufacturerName,
      p.product_no,
      p.sctg_no,
      p.manufac_no,
      p.name as productName,
      pf.pfile_no,
      pf.product_no,
      pf.img
    from
      product p
      join manufacturer mf on p.manufac_no=mf.manufac_no
      join small_category sc on p.sctg_no=sc.sctg_no
      join large_category lc on sc.lctg_no=lc.lctg_no
      left join product_file pf on p.product_no=pf.product_no
    <where>
      <if test="largeNo != null">
        lc.lctg_no=#{largeNo} and
      </if>
      
      <if test="smallNo != null">
        sc.sctg_no=#{smallNo}
      </if>
      
      <if test="productName != null">
        <bind name="prodSeachPattern" value="'%' + productName + '%'"/>
        and p.name like #{prodSeachPattern}
      </if>
    </where>
    order by
      p.product_no asc
  </select>
  
    
  <insert id="insert" parameterType="product"
          useGeneratedKeys="true"
          keyColumn="product_no"
          keyProperty="no">
    insert into 
      product(sctg_no, manufac_no, name)
    values (#{smallCategoryNo}, #{manufacturerNo}, #{name})
  </insert>
  
  <select id="findNoByName" resultMap="productMap" parameterType="string">
    select
      product_no
    from
      product
    where
      name = #{value}
  </select>
  
  
  <select id="findNoByNameList" resultMap="productMap" parameterType="map">
    <bind name="pattern1" value="'%' + _parameter + '%'"/>
    select
      product_no
    from
      product
    where
      name like #{pattern1}
  </select>
  
  
  <select id="findByNo" resultMap="productMap" parameterType="int">
    select
      p.name as productName,
      t.tip_no,
      lc.name as largeName,
      pf.img,
      m.name as manufacturerName
    from
      product p
      left join tip t on p.product_no = t.product_no
      join small_category sc on p.sctg_no=sc.sctg_no
      join large_category lc on sc.lctg_no=lc.lctg_no
      join product_file pf on pf.product_no = p.product_no
      join manufacturer m on p.manufac_no = m.manufac_no
    where
      p.product_no = #{value}
  </select>
  
  
  <select id="findFileByNo" resultMap="productFileMap" parameterType="int">
    select
      p.product_no,
      p.sctg_no,
      p.manufac_no,
      p.name,
      f.img
    from
      product p
    left join
      product_file f
    on p.product_no = f.product_no
    where p.product_no = #{value}
  </select>
  
  <update id="update" parameterType="product">
    update product
      <set>
        <if test="name != null">name = #{name}</if>
      </set>
    where
      product_no = #{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from
      product
    where  
      product_no = #{value}
  </delete>
  
</mapper>










