<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="bitcamp.team.dao.ProductFileDao">

  <resultMap type="productFile" id="productFileMap">
    <id     column="pfile_no"         property="no"/>
    <result column="product_no"       property="productNo"/>
    <result column="img"              property="img"/>
  </resultMap>
  
  <select id="findByProductNo" resultMap="productFileMap" parameterType="int">
    select
      pfile_no,
      product_no,
      img
    from
      product_file
    where
      product_no = #{value}
    order by
      pfile_no desc
  </select>
    
  <insert id="insert" parameterType="list">
    insert into 
      product_file (product_no, img)
    values 
      <foreach collection="list" item="productFile" separator=",">
      (#{productFile.productNo}, #{productFile.img})
    </foreach>
  </insert>
  
  <delete id="deleteByProductNo" parameterType="int">
    delete from 
      product_file
    where 
      product_no = #{value}
  </delete>
</mapper>










