<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitcamp.team.dao.QuestionDao">

  <resultMap type="question" id="questionMap">
    <id column="q_no" property="no" />
    <result column="qtype_no" property="questionNo" />
    <result column="member_no" property="memberNo" />
    <result column="conts" property="contents" />
    <result column="titl" property="title" />
    <result column="cdt" property="createdDate" />
    <result column="status" property="status" />
  </resultMap>

  <resultMap type="question" id="questionTypeMap">
    <id column="q_no" property="no" />
    <result column="qtype_no" property="questionNo" />
    <result column="member_no" property="memberNo" />
    <result column="titl" property="title" />
    <result column="conts" property="contents" />
    <result column="cdt" property="createdDate" />
    <result column="status" property="status" />
    <association property="member" javaType="member">
      <id column="member_no" property="no" />
      <result column="email" property="email" />
      <result column="n_name" property="nickName" />
    </association>
    <association property="questionType" javaType="questionType">
      <id column="qtype_no" property="no" />
      <result column="typeName" property="name" />
    </association>
    <association property="answer" javaType="answer">
      <id column="ans_no" property="no"/>
      <result column="answerConts" property="content"/>
      <result column="answerDate" property="createdDate"/>
      <collection property="answerFiles"      ofType="answerFile">
        <id     column="answer_file_no"           property="no"/>
        <result column="ans_no"                   property="answerNo"/>
        <result column="file_path"                property="filePath"/>
      </collection>
    </association>
  </resultMap>

  <resultMap type="questionType" id="questionCategoryMap">
    <id column="qtype_no" property="no"/>
    <result column="conts" property="name"/>
  </resultMap>
  
  <resultMap type="question" id="questionFileMap">
    <id       column="q_no"         property="no"/>
    <collection property="questionFiles"      ofType="questionFile">
      <id     column="question_file_no"           property="no"/>
      <result column="q_no"          property="questionNo"/>
      <result column="file_path"                property="filePath"/>
    </collection>
  </resultMap>
  
  <select id="findAll" resultMap="questionTypeMap">
    select
    q.q_no,
    q.titl,
    q.cdt,
    q.status,
    m.n_name,
    t.conts as typeName
  from
    question q
  left outer join
    member m
  on q.member_no = m.member_no
  left outer join
    question_type = t
  on q.qtype_no = t.qtype_no
    order by
    q_no desc
  </select>
  
  <select id="findAllByMember" resultMap="questionTypeMap" parameterType="int">
  select
    q.q_no,
    q.titl,
    q.cdt,
    q.status,
    m.n_name,
    t.conts as typeName
  from
    question q
  left outer join
    member m
  on q.member_no = m.member_no
  left outer join
    question_type = t
  on q.qtype_no = t.qtype_no
  where 
    q.member_no = #{value}
  order by
    q_no desc
  </select>
  
  <select id="findByType" resultMap="questionTypeMap" parameterType="int">
  select
    q.q_no,
    q.titl,
    q.cdt,
    q.status,
    m.n_name,
    t.conts as typeName
  from
    question q
  left outer join
    member m
  on q.member_no = m.member_no
  left outer join
    question_type = t
  on q.qtype_no = t.qtype_no
  <if test="_parameter != 0">
  where 
    q.qtype_no = #{value}
  </if>
  order by
    q_no desc
  </select>
  
  <select id="findByTypeCheck" resultMap="questionTypeMap" parameterType="int">
  select
    q.q_no,
    q.titl,
    q.cdt,
    q.status,
    m.n_name,
    t.conts as typeName
  from
    question q
  left outer join
    member m
  on q.member_no = m.member_no
  left outer join
    question_type = t
  on q.qtype_no = t.qtype_no
  where 
    <if test="_parameter != 0">
    q.qtype_no = #{value} AND
    </if>
   q.status = "답변 대기중"
  order by
    q_no desc
  </select>

  <select id="findByNo" resultMap="questionTypeMap" parameterType="int">
  select 
    q.q_no,
    q.titl,
    q.cdt,
    q.status,
    q.conts,
    m.n_name,
    a.ans_no,
    a.conts as answerConts,
    a.cdt as answerDate
  from
    question q
  left outer join
    member m
  on q.member_no = m.member_no
  left outer join
    answer a
  on q.q_no = a.q_no
    where 
  q.q_no = #{value}
  </select>
  
  <select id="findType" resultMap="questionCategoryMap">
    select
      qtype_no,
      conts
    from
      question_type
    order by
      qtype_no desc
  </select>

  <insert id="insert" parameterType="question"
      useGeneratedKeys="true"
      keyColumn="q_no"
      keyProperty="no">
    insert into 
      question(qtype_no, member_no, conts, titl)
    values (#{questionNo}, #{memberNo}, #{contents}, #{title});
  </insert>
  
  <select id="findFileByNo" resultMap="questionFileMap" parameterType="int">
    select
      q.q_no,
      qf.file_path
    from
      question q
    left outer join
      question_file qf
    on q.q_no = qf.q_no
    where q.q_no = #{value}
  </select>
  
  <update id="status" parameterType="int" 
  useGeneratedKeys="true"
  keyColumn="status" keyProperty="status">
  update 
    question
  set 
    status = "답변 완료"
  where 
    q_no = #{no}
  </update>
  
  <delete id="delete" parameterType="int">
    delete from question
    where q_no = #{value}
  </delete>
  
</mapper>


