<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitcamp.team.dao.ReviewDao">

  <resultMap type="review" id="reviewMap">
    <id column="rno" property="no" />
    <result column="product_no" property="productNo" />
    <result column="member_no" property="memberNo" />
    <result column="reviewName" property="title" />
    <result column="conts" property="contents" />
    <result column="cdt" property="createdDate" />
    <result column="cnt" property="viewCount" />

    <association property="member" javaType="member">
      <id column="member_no" property="memberNo" />
      <result column="memberName" property="name" />
      <result column="nickName" property="nickName" />
    </association>

    <association property="product" javaType="product">
      <id column="product_no" property="no" />
      <result column="manufac_no"   property="manufacturerNo"/>
      <result column="name" property="name" />
      <collection property="productFiles" ofType="productFile">
        <id column="pfile_no" property="no" />
        <result column="product_no" property="productNo" />
        <result column="img" property="img" />
      </collection>
      <collection property="manufacturer" javaType="manufacturer">
      <id column="manufac_no"    property="no"/>
      <result column="reg_no"    property="registerNo"/>
      <result column="manufacturerName"      property="name"/>
      <result column="tel"       property="tel"/>
      <result column="homepage"  property="homePage"/>
    </collection>
    </association>
  </resultMap>

  <resultMap type="product" id="productMap">
    <id column="product_no" property="no" />
    <result column="sctg_no" property="smallCategoryNo" />
    <result column="manufac_no" property="manufacturerNo" />
    <result column="name" property="name" />

    <collection property="productFiles" ofType="productFile">
      <id column="pfile_no" property="no" />
      <result column="product_no" property="productNo" />
      <result column="img" property="img" />
    </collection>
    
    <collection property="manufacturer" javaType="manufacturer">
        <id       column="manufac_no"   property="no"/>
        <result   column="manuName"         property="name"/>
      </collection>
  </resultMap>

  <select id="findProd" resultMap="reviewMap" parameterType="string">
    select DISTINCT
      r.product_no,
      p.name,
      p.manufac_no,
      mf.name as manufacturerName,
      pf.img
    from
      review r 
      join product p 
      on 
      r.product_no = p.product_no
      
      left join product_file pf 
      on 
      p.product_no=pf.product_no
      
      left join manufacturer mf 
      on 
      p.manufac_no=mf.manufac_no
      
    <where>
      <if test="_parameter != null">
        <bind name="pattern1" value="'%' + _parameter + '%'" />
        p.name like #{pattern1}
      </if>
    </where>
    order by
    product_no desc
  </select>
 
  <select id="findByNo" resultMap="reviewMap" parameterType="map">
    select
      r.rv_no as rno,
      r.name as reviewName,
      r.product_no,
      r.cdt,
      r.cnt,
      m.n_name as nickName,
      p.name,
      p.manufac_no,
      mf.name as manufacturerName,
      pf.img
    from
      review r
      join member m on r.member_no = m.member_no
      left join product p on r.product_no = p.product_no
      left join manufacturer mf on p.manufac_no = mf.manufac_no
      left join product_file pf on p.product_no = pf.product_no
    <where>
      r.product_no = #{selectNo}
      <if test="searchType == 'name' and keyword != null">
        <bind name="pattern1" value="'%' + keyword + '%'" />
        and m.name like #{pattern1}
      </if>
      <if test="searchType == 'title' and keyword != null">
        <bind name="pattern1" value="'%' + keyword + '%'" />
        and r.name like #{pattern1}
      </if>
      <if test="searchType == 'contents' and keyword != null">
        <bind name="pattern1" value="'%' + keyword + '%'" />
        and conts like #{pattern1}
      </if>
      <if test="searchType == 'all' and keyword != null">
        <bind name="pattern1" value="'%' + keyword + '%'" />
        and r.name like #{pattern1} or conts like #{pattern1}
      </if>
    </where>
    order by
    rno desc
  </select>

  <select id="findByNo2" resultMap="reviewMap" parameterType="int">
    select
      r.rv_no as rno,
      m.name as memberName,
      r.name as reviewName,
      r.conts,
      r.cdt,
      r.cnt
    from
      review r
      join member m on r.member_no = m.member_no
    where
      r.rv_no = #{value};
  </select>

  <insert id="insert" parameterType="review">
    insert into review (product_no, member_no, name, conts)
    values
    (#{productNo},#{memberNo}, #{title}, #{contents})
  </insert>

  <update id="increaseCount" parameterType="int">
    update review
    set
    cnt = cnt + 1
    where rv_no =
    #{value}
  </update>


  <delete id="delete" parameterType="int">
    delete
    from
    review
    where
    rv_no = #{value};
  </delete>


  <update id="update" parameterType="review">
    update
    review
    <set>
      <if test="title != null">name = #{title}</if>
      ,
      <if test="contents != null">conts = #{contents}</if>
    </set>
    where
    rv_no = #{no};
  </update>

  <delete id='deleteByProductNo' parameterType="int">
    delete from
    review
    where
    product_no=#{value}
  </delete>




</mapper>