<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitcamp.team.dao.ReviewDao">

  <resultMap type="review" id="reviewMap">
    <id column="rv_no" property="no" />
    <result column="product_no" property="productNo" />
    <result column="member_no" property="memberNo" />
    <result column="name" property="name" />
    <result column="conts" property="contents" />
    <result column="cdt" property="createdDate" />
    <result column="cnt" property="viewCount" />

    <association property="product" javaType="product">
      <id column="product_no" property="no" />
      <result column="name" property="name" />
    </association>

    <association property="member" javaType="member">
      <id column="member_no" property="no" />
      <result column="name" property="name" />
    </association>
  </resultMap>
  
  <resultMap type="product" id="productMap">
    <id column="product_no" property="no"/>
    <result column="sctg_no" property="smallCategoryNo"/>
    <result column="manufac_no" property="manufacturerNo"/>
    <result column="name" property="name"/>
  </resultMap>
  
  <select id="findAll" resultMap="productMap">
    select product_no, name
     from 
     product
     order by
     product_no asc;
  </select>

  <select id="findByNo" resultMap="reviewMap" parameterType="int">
    select
      p.name, r.name, m.name, r.cdt, r.cnt
    from
      review r
      join product p on r.product_no = p.product_no
      join member m on r.member_no = m.member_no
    where
      p.product_no = #{value};
  </select>

</mapper>