<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="bitcamp.team.dao.TipHistoryDao">

  <resultMap type="tipHistory" id="tipHistoryMap">
    <id     column="this_no"            property="no"/>
    <result column="tip_no"             property="tipNo"/>
    <result column="conts"              property="contents"/>
    <result column="nickName"           property="nickName"/>
    <result column="udt"                property="updateDate"/>
    <collection property="tip" javaType="tip">
      <id     column="tip_no"         property="no"/>
      <result column="product_no"     property="productNo"/>
      <result column="member_no"      property="memberNo"/>
      <result column="olderConts"     property="contents"/>
      <result column="cdt"            property="createdDate"/>
      <association property="product" javaType="product">
        <id     column="product_no"   property="no"/>
        <result column="name"         property="name"/>
        <collection property="productFiles" ofType="productFile">
	        <id     column="pfile_no"     property="no"/>
	        <result column="img"          property="img"/>
        </collection>
      </association>
      <association property="member"  javaType="member">
        <id     column="member_no"    property="no"/>
        <result column="n_name"       property="nickName"/>
      </association>
    </collection>
  </resultMap>

  <sql id="join-select1">
    select
      h.this_no,
      h.tip_no,
      h.conts,
      h.udt,
      h.nickName,
      t.product_no,
      t.member_no,
      t.conts as olderConts,
      t.cdt,
      p.name,
      f.img,
      m.n_name
    from
      tip_history h
    left outer join tip t on h.tip_no = t.tip_no 
    left outer join product p on t.product_no = p.product_no
    left outer join member m on t.member_no = m.member_no
    left outer join product_file f on p.product_no = f.product_no
  </sql>

  <select id="findByNo" resultMap="tipHistoryMap" parameterType="int">
    <include refid="join-select1"/>
    where
      t.product_no = #{value}
    order by
      this_no desc
  </select>
  
  <select id="findContsByNo" resultMap="tipHistoryMap" parameterType="int">
    <include refid="join-select1"/>
    where
      h.this_no = #{value}
  </select>
  
  <insert id="insert" parameterType="tiphistory">
    insert into tip_history (tip_no, conts, nickName)
    values (#{tipNo}, #{contents}, #{nickName})
  </insert>
  
  <select id="countAll" resultType="int">
    select count(*) from tip_history;
  </select>
  
  <delete id="delete" parameterType="int">
    delete from tip_history
    where this_no = #{value}
  </delete>
  
  
  <delete id="deleteByTipNo" parameterType="int">
    delete from
      tip_history
    where
      tip_no = #{value}
  </delete>
</mapper>










