<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="bitcamp.team.dao.TipDao">

  <resultMap type="tip" id="tipMap">
    <id     column="tip_no"           property="no"/>
    <result column="product_no"       property="productNo"/>
    <result column="member_no"        property="memberNo"/>
    <result column="conts"            property="contents"/>
    <result column="cdt"              property="createdDate"/>
    <association property="product" javaType="product">
      <id column="product_no"         property="no"/>
      <result column="name"           property="name"/>
      <collection property="productFiles" ofType="productFile">
        <id      column="pfile_no"   property="no"/>
        <result column="product_no" property="productNo"/>
        <result column="img"        property="img"/> 
      </collection>
    </association>
    <association property="member"  javaType="member">
      <id column="member_no"          property="no"/>
      <result column="n_name"         property="nickName"/>
    </association>
  </resultMap>

  <sql id="join-select1">
    select
      t.tip_no,
      t.product_no,
      t.member_no,
      t.conts,
      t.cdt,
      p.name,
      f.img,
      m.n_name
    from
      tip t
    left outer join product p on t.product_no = p.product_no
    left outer join product_file f on p.product_no = f.product_no
    left outer join member m on t.member_no = m.member_no
  </sql>

  <select id="findAll" resultMap="tipMap" parameterType="map">
    <include refid="join-select1"/>
    <where>
    <if test="keyword != null">
      <bind name="pattern1" value="'%' + keyword + '%'"/>
      <if test="prodName != null"> p.name like #{pattern1}</if>
      <if test="memName != null"> m.n_name like #{pattern1}</if>
      <if test="cont != null"> conts like #{pattern1}</if>
      <if test="prodConts != null"> p.name like #{pattern1} or conts like #{pattern1}</if>
      <if test="search != null"> p.name like #{pattern1} or conts like #{pattern1}</if>
    </if>
    </where>
    order by
      tip_no desc
  </select>
  
  <select id="findByNo" resultMap="tipMap" parameterType="int">
    <include refid="join-select1"/>
    where
      p.product_no = #{value}
    order by
      tip_no desc
  </select>
  
  <update id="update" parameterType="tip">
    update tip
    <set>
      member_no = #{memberNo},
      conts = #{contents},
      <if test="createdDate != null">cdt = #{createdDate}</if>
      <if test="createdDate == null">cdt = current_timestamp()</if>
    </set>
    where
     product_no=#{no}
  </update>
  
  <select id="confirmTip" resultType="int" parameterType="int">
    select count(*) from tip where product_no = #{value}
  </select>
  
  <select id="findNoByProductNo" resultType="int" parameterType="int">
    select tip_no from tip where product_no = #{value}
  </select>
  
  
  <insert id="insert" parameterType="map">
    insert into tip (product_no, member_no, conts)
    values (#{productNo}, #{memberNo}, #{contents})
  </insert>
  
  <delete id="deleteByProductNo" parameterType="int">
    delete from 
      tip
    where 
      product_no = #{value}
  </delete>
</mapper>










