#customBtn {
  margin-top: 18px; display : inline-block;
  background: white;
  color: #444;
  width: 224px;
  border-radius: 5px;
  border: thin solid #BDBDBD;
  white-space: nowrap;
  display: inline-block;
}

#customBtn:hover {
  cursor: pointer;
  background-color: #F2F2F2;
}

span.icon {
  background: url('g-normal.png') transparent 5px 50% no-repeat;
  background-size: 58%;
  margin-left: 15px;
  display: inline-block;
  vertical-align: middle;
  width: 48px;
  height: 47px;
}

span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 2.6px;
  padding-right: 42px;
  font-size: 15.4px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.sns {
  text-align: center;
}

.svg {
  width: 200px;
  height: 100px;
}

#fbloginBtn:hover {
  cursor: pointer;
}

#fbloginBtn {
  margin: 0 auto;
  background-color: #0174DF;
  font-weight: bold;
  color: white;
  width: 221px;
  height: 49px;
  border-radius: 5px;
  padding-top: 11px;
  margin-top: 50px;
}

#fbloginBtn:hover {
  background-color: #045FB4;
}

#my-fb {
  margin-left: -6px;
  font-size: 30px;
  color: white;
}

#fb-span-text {
  right: -8px;
  position: relative;
  font-size: 15.4px;
  top: -5px;
}

#main-row {
  margin-top: 30px;
  width: 740px;
  height: 420px;
  border: 1px solid #dbdbdb;
}

#sns-col {
  background-image: url(로그인2.jpg);
  background-size: cover;
}

#sns-col2 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 100%;
  margin-left: -15px;
}

.my-form {
  outline: none;
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid #D8D8D8;
  padding-left: 0;
  cursor: pointer;
}

.my-form:focus {
  outline: :none;
  box-shadow: none;
  border-bottom: 2px solid #6E6E6E;
}

.my-login-col {
  padding: 40px;
  padding-top: 30px;
  text-align: center;
  background-color: white;
}

#sns-text-col {
  margin-top: 30px;
  text-align: center;
}

#my-col-text {
  font-weight: bold;
  color: #6E6E6E;
}

#email {
  margin-top: 40px;
}

#login-ck-box {
  margin-left: 15px;
}

#save-email-lb {
  font-size: 15px;
}

#password-search {
  margin-left: 119px;
}

#login-btn{
  border-radius: 0;
  font-weight: bold;
  font-size: 20px;
  width: 350px;
  margin-top: 21px;
}

#auth-answer-div {
  color:#585858;
  margin-left: 0;
  margin-top: 15px;
}

#my-auth-a {
  margin-left: 7px;
  text-decoration: underline;
  color: #585858;
  font-weight: bold;
}

body {
  background-color: #F2F2F2;
  width: 100%;
  height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

