@charset "UTF-8";

table tr th:nth-child(2), table tr td:nth-child(2) {
	width: 400px;
	text-align: center;
}


.bit-list {
	min-height: 500px;
}

tr {
	cursor: pointer;
}

.page-container {
	margin-left: 30%;
}

.jumbotron {
  background-image: url(image/jumbo.jpg);
  background-repeat: no-repeat;
  background-position: 70% 100%;
  background-attachment: fixed;
  margin: 0;
  color: white;
}

.jumbotron p {
  color: white !important;
}
