@charset "UTF-8";
body {
  font-size: small;
}

body > header {
  min-height: 60px;
}

.container {
	padding-top: 20px;
}

.container > h1 {
  height: 60px;
  /* text-align: center; */
}

.bit-list {
  
  min-height: 200px;
}

div.container {
  width: 800px;
}

.bit-invisible {
  display: none;
}

#bit-login-state {
  margin: 0px 10px;
}


.btn-primary {
    background-color: white;
    border: solid 1px #ccc;
    color: #212529; 
}

.btn-primary:hover {
    background-color: #ccc;
    border: solid 1px #ccc;
    color: white;
}

.btn-primary:active {
    background-color: gray;
    border: solid 1px #ccc;
    color: white;
}
