@charset "UTF-8";

.ohr-header-nav {
	min-height: 75px;
}

#bit-login-state img {
	height: 30px;
}

#bit-not-login-state {
	padding-right: 5px;
}

#bit-login-state {
	padding-right: 5px;
}

#bit-auth-div {
	padding-right: 5px;
}

#login-username {
	color: white;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

#ohr-header {
	font-size: 27px;
	font-weight: bold;
	text-align: center;
	width: 100px;
	margin: 0 auto;
	padding: 0px 115px 0px 0px;
	border-right: 6px solid white;
}

#content {
	position: relative;
	height: 50px;
	width: 34px;
	top: 3.5em;
	left: 1.5em;
	transform: translate(-50%, -50%);
}

#content.on {
	-webkit-animation-name: in-out;
	animation-name: in-out;
	-webkit-animation-duration: 0.7s;
	animation-duration: 0.7s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.ohr-search-input {
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	border: 4px solid #ffffff;
	border-radius: 50%;
	background: none;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	font-family: Roboto;
	outline: 0;
	-webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out,
		border-radius 0.8s ease-in-out, padding 0.2s, margin 0.2s ease-in-out;
	transition: width 0.4s ease-in-out, height 0.4s ease-in-out,
		border-radius 0.8s ease-in-out, padding 0.2s, margin 0.2s ease-in-out;
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
	-webkit-transform: translate(-100%, -50%);
	-ms-transform: translate(-100%, -50%);
	transform: translate(-100%, -50%);
}

button:focus {
	outline: 0;
}

.search {
	background: none;
	position: absolute;
	top: 0px;
	left: 0;
	height: 50px;
	width: 50px;
	padding: 0;
	border-radius: 100%;
	outline: 0;
	border: 0;
	color: inherit;
	cursor: pointer;
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	-webkit-transform: translate(-100%, -50%);
	-ms-transform: translate(-100%, -50%);
	transform: translate(-100%, -50%);
}

.search:before {
	content: "";
	position: absolute;
	width: 15px;
	height: 4px;
	background-color: #fff;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-top: 15px;
	margin-left: 21px;
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.ohr-close {
	-webkit-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
	margin-top: 1px;
}

.ohr-close:before {
	content: "";
	position: absolute;
	width: 27px;
	height: 4px;
	margin-top: -1px;
	margin-left: -13px;
	background-color: #fff;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.ohr-close:after {
	content: "";
	position: absolute;
	width: 27px;
	height: 4px;
	margin-top: -1px;
	margin-left: -13px;
	background-color: #fff;
	cursor: pointer;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#ohr-search-tag {
	position: relative;
	cursor: default;
}

.ohr-square {
	position: absolute;
	box-sizing: border-box;
	padding: 0 40px 0 10px;
	margin-top: 1px;
	width: 65vw;
	height: 50px;
	border: 4px solid #ffffff;
	border-radius: 0;
	background: none;
	color: #fff;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	outline: 0;
	-webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out,
		border-radius 0.4s ease-in-out, padding 0.2s, margin 0.2s ease-in-out;
	transition: width 0.4s ease-in-out, height 0.4s ease-in-out,
		border-radius 0.4s ease-in-out, padding 0.2s, margin 0.2s ease-in-out;
	-webkit-transition-delay: 0.4s, 0s, 0.4s;
	transition-delay: 0.4s, 0s, 0.4s;
	-webkit-transform: translate(-100%, -50%);
	-ms-transform: translate(-100%, -50%);
	transform: translate(-100%, -50%);
}

.ohr-disappear {
	opacity: 0;
	-webkit-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}

.ohr-appear {
	opacity: 1;
	-webkit-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
	-webkit-transition-delay: 0.45s;
	transition-delay: 0.45s;
}

.ohr-disappear-tag {
	display: block;
	color: white;
	font-size: 34px;
	font-weight: bold;
	padding-left: 14px;
	height: 50px;
	width: 0%;
	opacity: 0;
	-webkit-transition: opacity 0.4s ease-in-out, width 1s ease-in-out;
	transition: opacity 0.4s ease-in-out, width 1s ease-in-out;
}

.ohr-appear-tag {
	display: block;
	color: white;
	font-size: 34px;
	font-weight: bold;
	padding-left: 14px;
	height: 50px;
	width: 40%;
	opacity: 1;
	-webkit-transition: opacity 0.4s ease-in-out, width 0s ease-in-out;
	transition: opacity 0.4s ease-in-out, width 0s ease-in-out;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

#navbarCollapse {
	font-size: 14px;
	font-weight: bold;
	background: #323a45;
}

#navbarCollapse ul {
	height: 50px;
	list-style: none;
}

#navbarCollapse li {
	float: none;
	text-align: center;
}

#navbarCollapse li a {
	color: #fff;
	display: inline-block;
	font-weight: 560;
	font-size: 16px;
	line-height: 50px;
	margin: 0px;
	padding: 0px 25px;
	text-align: center;
	text-decoration: none;
	width: 120px;
	position: relative;
}

.ohr-header-list:after {
	display: block;
	content: '';
	border-bottom: 5px solid #fff;
	transform: scaleX(0);
	transition: transform 0.25s ease-in-out;
}

.ohr-header-list:hover:after {
	transform: scaleX(1);
}

#navbarCollapse li a:hover, #navbarCollapse ul li:hover a {
	color: #FFFFFF;
	text-decoration: none;
}

#navbarCollapse li ul {
	background-color: #343a40;
	visibility: hidden;
	padding: 0px;
	padding-bottom: 10px;
	margin: 0px;
	border: 0px;
	position: absolute;
	width: 120px;
	z-index: 200;
}

#navbarCollapse li:hover ul {
	display: block;
	visibility: visible;
	height: auto;
	transition: height 1s ease-in-out;
}

#navbarCollapse li li {
	background-color: #323a45;
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	width: 120px;
}

#navbarCollapse li:hover li a {
	background: none;
}

#navbarCollapse li ul a {
	display: block;
	height: 50px;
	font-size: 12px;
	font-style: normal;
	font-weight: 450;
	text-align: center;
}

#navbarCollapse li ul a:after {
    display: block;
    content: '';
    border-bottom: 5px solid #fff;
    transform: scaleX(0);
    transition: transform 0.25s ease-in-out;
}

#navbarCollapse li ul a:hover:after {
    transform: scaleX(1);
}

#navbarCollapse li ul a:hover, #navbarCollapse li ul li:hover a {
	border: 0px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#navbarCollapse p {
	clear: left;
}

#ohr-user-info {
	background-image: url(../upload/main/customer.png);
	background-repeat: no-repeat;
	background-size: 100%;
	height: 55px;
	width: 55px;
	margin-top: 3px;
}

#ohr-user-info:hover {
	cursor: pointer;
}

/*
.btn-secondary {
	background: #62707e;
}

.btn-secondary:hover {
	background: #424c55;
}

.btn-secondary:active {
	background: #1C2125;
}

#ohr-header-logo {
	height: 70px;
}

#ohr-header-logo:hover {
	cursor: pointer;
}
*/