@charset "UTF-8";

.bit-main-header {
	min-height: 75px;
}

.ohr-header-nav {
	min-height: 75px;
}

#bit-login-state img {
	height: 30px;
}

#bit-not-login-state {
	padding-right: 5px;
}

#bit-login-state {
	padding-right: 5px;
}

#bit-auth-div {
	padding-right: 5px;
}

#login-username {
	color: white;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}

#ohr-header {
	font-size: 27px;
	font-weight: bold;
	text-align: center;
	width: 100px;
	margin: 0 auto;
	padding: 0px 115px 0px 0px;
	border-right: 6px solid white;
}

/*
menu hover 효과1

.borderLeftRight {
  display: inline-block;
  position: relative;
  color: #474E51;
}

.borderLeftRight::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #5878F3;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.borderLeftRight:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
*/
#content {
	position: relative;
	height: 50px;
	width: 50px;
	top: 3.5em;
	left: 1.5em;
	transform: translate(-50%, -50%);
}

#content.on {
	-webkit-animation-name: in-out;
	animation-name: in-out;
	-webkit-animation-duration: 0.7s;
	animation-duration: 0.7s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}

.ohr-search-input {
	box-sizing: border-box;
	width: 30px;
	height: 30px;
	border: 4px solid #ffffff;
	border-radius: 50%;
	background: none;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	font-family: Roboto;
	outline: 0;
	-webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out,
		border-radius 0.8s ease-in-out, padding 0.2s, margin 0.2s ease-in-out;
	transition: width 0.4s ease-in-out, height 0.4s ease-in-out,
		border-radius 0.8s ease-in-out, padding 0.2s, margin 0.2s ease-in-out;
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
	-webkit-transform: translate(-100%, -50%);
	-ms-transform: translate(-100%, -50%);
	transform: translate(-100%, -50%);
}

.search {
	background: none;
	position: absolute;
	top: 0px;
	left: 0;
	height: 50px;
	width: 50px;
	padding: 0;
	border-radius: 100%;
	outline: 0;
	border: 0;
	color: inherit;
	cursor: pointer;
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	-webkit-transform: translate(-100%, -50%);
	-ms-transform: translate(-100%, -50%);
	transform: translate(-100%, -50%);
}

.search:before {
	content: "";
	position: absolute;
	width: 15px;
	height: 4px;
	background-color: #fff;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-top: 15px;
	margin-left: 21px;
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.close {
	-webkit-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
	margin-top: 1px;
}

.close:before {
	content: "";
	position: absolute;
	width: 27px;
	height: 4px;
	margin-top: -1px;
	margin-left: -13px;
	background-color: #fff;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.close:after {
	content: "";
	position: absolute;
	width: 27px;
	height: 4px;
	margin-top: -1px;
	margin-left: -13px;
	background-color: #fff;
	cursor: pointer;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.square {
	box-sizing: border-box;
	padding: 0 40px 0 10px;
	margin-top: 1px;
	width: 45rem;
	height: 50px;
	border: 4px solid #ffffff;
	border-radius: 0;
	background: none;
	color: #fff;
	font-family: Roboto;
	font-size: 16px;
	font-weight: 400;
	outline: 0;
	-webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out,
		border-radius 0.4s ease-in-out, padding 0.2s, margin 0.2s ease-in-out;
	transition: width 0.4s ease-in-out, height 0.4s ease-in-out,
		border-radius 0.4s ease-in-out, padding 0.2s, margin 0.2s ease-in-out;
	-webkit-transition-delay: 0.4s, 0s, 0.4s;
	transition-delay: 0.4s, 0s, 0.4s;
	-webkit-transform: translate(-100%, -50%);
	-ms-transform: translate(-100%, -50%);
	transform: translate(-100%, -50%);
}

.ohr-disappear {
	opacity: 0;
	-webkit-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
}

.ohr-appear {
	opacity: 1;
	-webkit-transition: opacity 0.4s ease-in-out;
	transition: opacity 0.4s ease-in-out;
	-webkit-transition-delay: 0.45s;
	transition-delay: 0.45s;
}

.ohr-disappear-tag {
	display: block;
	color: white;
	font-size: 34px;
	font-weight: bold;
	padding-left: 14px;
	height: 50px;
	width: 0%;
	opacity: 0;
	-webkit-transition: opacity 0.4s ease-in-out, width 1s ease-in-out;
	transition: opacity 0.4s ease-in-out, width 1s ease-in-out;
}

.ohr-appear-tag {
	display: block;
	color: white;
	font-size: 34px;
	font-weight: bold;
	padding-left: 14px;
	height: 50px;
	width: 40%;
	opacity: 1;
	-webkit-transition: opacity 0.4s ease-in-out, width 0s ease-in-out;
	transition: opacity 0.4s ease-in-out, width 0s ease-in-out;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

#navbarCollapse {
	font-size: 14px;
	font-weight: bold;
	background: #323a45;
}

#navbarCollapse ul {
	height: 50px;
	list-style: none;
}

#navbarCollapse li {
	float: left;
}

#navbarCollapse li a {
	color: #cccccc;
	display: block;
	font-weight: normal;
	line-height: 50px;
	margin: 0px;
	padding: 0px 25px;
	text-align: center;
	text-decoration: none;
	width: 120px;
}

#navbarCollapse li a:hover, #navbarCollapse ul li:hover a {
	background: #778899; /*rgb(44, 62, 80)*/
	opacity: 0.8;
	color: #FFFFFF;
	text-decoration: none;
}

#navbarCollapse li ul {
	background: #778899;
	visibility: hidden;
	height: auto;
	padding: 0px;
	margin: 0px;
	border: 0px;
	position: absolute;
	width: 120px;
	z-index: 200;
	opacity: 0.5;
	transition: .2s ease-in-out;
}

#navbarCollapse li:hover ul {
	display: block;
	visibility: visible;
	opacity: 0.8;
}

#navbarCollapse li li {
	background: #778899;
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	width: 120px;
}

#navbarCollapse li:hover li a {
	background: none;
}

#navbarCollapse li ul a {
	display: block;
	height: 50px;
	font-size: 12px;
	font-style: normal;
	padding: 0px 10px 0px 15px;
	text-align: left;
}

#navbarCollapse li ul a:hover, #navbarCollapse li ul li:hover a {
	background: #3f6184;
	border: 0px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	border-radius: 4px;
}

#navbarCollapse p {
	clear: left;
}

.btn-secondary {
	background: #62707e;
}

.btn-secondary:hover {
	background: #424c55;
}

.btn-secondary:active {
	background: #1C2125;
}

/*
#ohr-header-logo {
	height: 70px;
}

#ohr-header-logo:hover {
	cursor: pointer;
}
*/