@charset "UTF-8";

.bit-main-header {
	min-height: 60px;
}

#bit-login-state img {
	height: 30px;
}

#bit-not-login-state {
	padding-right: 5px;
}

#bit-login-state {
	padding-right: 5px;
}

#bit-auth-div {
	padding-right: 5px;
}

#login-username {
	color: white;
	font-size: 15px;
	font-weight: bold;
	text-align: center;
	cursor:pointer;
}

#ohr-header {
	font-size: 27px;
	font-weight: bold;
	text-align: center;
	width: 100px;
	margin: 0 auto;
	padding-right: 150px;
}

#navbarCollapse {
	font-size: 14px;
	font-weight: bold;
	background: #323a45;
}

#navbarCollapse ul {
	height: 50px;
	list-style: none;
}

#navbarCollapse li {
	float: left;
}

#navbarCollapse li a {
	color: #cccccc;
	display: block;
	font-weight: normal;
	line-height: 50px;
	margin: 0px;
	padding: 0px 25px;
	text-align: center;
	text-decoration: none;
	width: 120px;
}

#navbarCollapse li a:hover, #navbarCollapse ul li:hover a {
	background: #778899; /*rgb(44, 62, 80)*/
	opacity: 0.8;
	color: #FFFFFF;
	text-decoration: none;
}

#navbarCollapse li ul {
	background: #778899;
	visibility: hidden;
	height: auto;
	padding: 0px;
	margin: 0px;
	border: 0px;
	position: absolute;
	width: 120px;
	z-index: 200;
	opacity: 0.5;
	transition: .2s ease-in-out;
}

#navbarCollapse li:hover ul {
	display: block;
	visibility: visible;
	opacity: 0.8;
}

#navbarCollapse li li {
	background: #778899;
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	width: 120px;
}

#navbarCollapse li:hover li a {
	background: none;
}

#navbarCollapse li ul a {
	display: block;
	height: 50px;
	font-size: 12px;
	font-style: normal;
	padding: 0px 10px 0px 15px;
	text-align: left;
}

#navbarCollapse li ul a:hover, #navbarCollapse li ul li:hover a {
	background: #3f6184;
	border: 0px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	border-radius: 4px;
}

#navbarCollapse p {
	clear: left;
}

.btn-secondary {
	background: #62707e;
}

.btn-secondary:hover {
	background: #424c55;
}




