.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
	color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
	margin-bottom: 0rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
	bottom: 3rem;
	z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
	height: 32rem;
}

.carousel-item>img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 32rem;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
	margin-bottom: 1.5rem;
	text-align: center;
}

.marketing h2 {
	font-weight: 400;
}

.marketing .col-lg-4 p {
	margin-right: .75rem;
	margin-left: .75rem;
}

/* Featurettes
------------------------- */
.featurette-divider {
	margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
	font-weight: 300;
	line-height: 1;
	letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media ( min-width : 40em) {
	/* Bump up size of carousel content */
	.carousel-caption p {
		margin-bottom: 1.25rem;
		font-size: 1.25rem;
		line-height: 1.4;
	}
	.featurette-heading {
		font-size: 50px;
	}
}

@media ( min-width : 62em) {
	.featurette-heading {
		margin-top: 13rem;
	}
}

#ohr-manual-img {
	/*background-image: url(aaa.jpg);*/
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#ohr-ph-circle p {
	min-height: 80px;
}

#ohr-ph-circle h2 {
	padding-top: 10px;
}

#ohr-carousel-1 {
	background-color: #e7e6ec;
	background-image: url(../upload/main/1.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#ohr-carousel-1 > div {
	text-shadow: 0 0 2px black;
}

#ohr-carousel-2 {
	background-color: #e7e6ec;
    background-image: url(../upload/main/2.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#ohr-carousel-2 > div {
    text-shadow: 0 0 2px #343a40;
}

#ohr-carousel-3 {
	background-color: #e7e6ec;
    background-image: url(../upload/main/3.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#ohr-carousel-3 > div {
    text-shadow: 0 0 2px #343a40;
}

#ohr-carousel-4 {
	background-color: #e7e6ec;
    background-image: url(../upload/main/4.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#ohr-carousel-4 > div {
    text-shadow: 0 0 2px #343a40;
}

#ohr-main-h2 {
	text-align: center;
	color: black;
	padding-bottom: 1rem;
}

#ohr-2nd-sec {
}

#ohr-2nd-img {
	background-image: url(../upload/main/main2-1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	height: 500px;
	width: 500px;
}

.ohr-2nd-ohr {
	color: #000;
	font-weight: bold;
	font-size: 50px;
}

.img-thumbnail {
	border: 0;
}

#ohr-middle-div {
	margin-bottom: 6em;
 }
 
 @import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Quattrocento);
.snip1361 {
  font-family: 'Quattrocento', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #141414;
  text-align: left;
  line-height: 1.4em;
  font-size: 16px;
}
.snip1361 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1361 img {
  max-width: 100%;
  vertical-align: top;
}
.snip1361 figcaption {
  position: absolute;
  top: calc(77%);
  width: 100%;
  background-color: #ffffff;
  padding: 15px 25px 65px;
}
.snip1361 figcaption:before {
  position: absolute;
  content: '';
  z-index: 2;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 80px;
  background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}
.snip1361 h3,
.snip1361 p {
  margin: 0 0 10px;
}
.snip1361 h3 {
  font-weight: 300;
  font-size: 1.4em;
  line-height: 1.2em;
  font-family: 'Oswald', Arial, sans-serif;
  text-transform: uppercase;
}
.snip1361 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.9;
}
.snip1361 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.snip1361:hover figcaption,
.snip1361.hover figcaption {
  top: 80px;
}
 