@charset "UTF-8";

.head-line {
	border: 0;
	height: 2px;
	background-color: black;
}

.faq-type-div {
	text-align: center;
}

.container {
	min-height: 630px;
	padding-top: 10px;
}

.faq-title > p {
	cursor: pointer;
}

.jumbotron {
  background-image: url(image/jumbo.jpg);
  background-repeat: no-repeat;
  background-position: 20% 120%;
  background-attachment: fixed;
  margin: 0;
  color: white;
}

.jumbotron p {
  color: white !important;
}