@charset "UTF-8";

#basic-list-table {
	text-align: center;
}

tbody tr {
	min-width: 500px;
}

canvas.horizon{
	margin: 30px;
}

#pagination-container {
	width: 450px;
  margin: 0 auto;
}

#product-div {
	min-height: 1071px;
}

