@charset "UTF-8";

#pagination-container {
	margin-left: 40%;
}

.jumbotron {
	background-image: url(jumbo.jpg);
	background-repeat: no-repeat;
	background-position: 0% 80%;
	background-attachment: fixed;
	margin: 0;
	color: white;
}

.jumbotron p {
	color: white !important;
}
