#my-auth-div {
  border: 1px solid #D8D8D8;
  padding: 65px;
  margin-bottom: 50px;
}

#my-auth-head {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.my-form {
  outline: none;
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid #D8D8D8;
  padding-left: 0;
  cursor: pointer;
}

.my-form:focus {
  outline: :none;
  box-shadow: none;
  border-bottom: 2px solid #6E6E6E;
}

.my-autn-btn {
  font-weight: bold;
  border-radius: 0;
}

#my-btn-col {
  margin: auto;
}

.my-autn-btn2 {
  border-radius: 0; font-weight : bold;
  min-height: 60px;
  margin: auto;
  width: 47%;
  margin-top: 30px;
  font-weight: bold; 
  min-height : 60px; 
  margin : auto; 
  width : 47%;
  margin-top : 30px;
  margin-bottom: -10px;
}

#email-p {
  margin-bottom: 20px;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button
  {
  -webkit-appearance: none;
  margin: 0;
}

.my-tel-row {
  margin-left: 0px;
}

.my-form::-webkit-input-placeholder {
  color: #BDBDBD;
}

#auth-h4 {
  margin-bottom: 30px;
  color: #6E6E6E;
}

.col-form-label {
  margin-top: 20px;
}

#add-cns-btn {
  margin-left: 13px;
}

.form-control.is-valid:focus {
  box-shadow: none;
}


.form-control.is-invalid:focus {
  box-shadow: none;
}

.auth-pp {
  margin-top: 3px;
  color: red;
}
