header {
	margin-left: 30px;
}

#img {
	width: 100%;
	float: right;
	background-image: url("제품.jpg");
	background-size: cover;
}

hr {
	height: 3px;
	background-color: black;
	margin: 0px;
}

#left-header {
	color: white;
	text-align: center;
	font-weight: bolder;
	font-size: 15pt;
	float: left;
	width: 200px;
	height: 800px;
	background-color: rgba(211, 211, 211, 0.7);
}

#left-header > p:nth-child(1){
  margin: 0px;
	}