.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.slick-prev:before, .slick-next:before {
	color: black;
}

.ohr-card-1stdiv {
	max-width: 225px;
    min-height: 375px;
    max-height: 375px;
}

.ohr-card-2nddiv {
    min-width: 220px;
    max-width: 225px;
    min-height: 375px;
    max-height: 375px;
}

.slick-slide img {
    border-bottom: solid 1px #ccc;
    margin-left: auto;
    margin-right: auto;
}

.card-body {
	padding-top: 5px;
}

.card-text a {
	font-size: 18px;
	font-weight: bold;
	color: #555753;
	display: inline-block;
	width: 170px;
	margin-bottom: 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card-text a:hover {
	cursor: pointer;
}

.ohr-btn-div {
	margin-top: 10px;
	float: left;
}

