#ohr-review-view {
	padding-top: 1em;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.jumbotron {
	padding-top: 3rem;
	padding-bottom: 3rem;
	margin-bottom: 0;
	background-color: #fff;
}

@media ( min-width : 768px) {
	.jumbotron {
		padding-top: 6rem;
		padding-bottom: 6rem;
	}
}

.jumbotron p:last-child {
	margin-bottom: 0;
}

.jumbotron-heading {
	font-weight: 300;
}

.jumbotron .container {
	max-width: 40rem;
}

footer {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

footer p {
	margin-bottom: .25rem;
}

.slick-prev:before, .slick-next:before {
	color: black;
}

.ohr-card-2nddiv {
	min-width: 220px;
	min-height: 375px;
	max-height: 375px;
}

.slick-slide img {
	border-bottom: solid 1px #ccc;
	margin-left: auto;
	margin-right: auto;
}

.card-body {
	padding-top: 5px;
}

.card-text a {
	font-size: 18px;
	font-weight: bold;
	color: #555753;
	display: inline-block;
	width: 170px;
	margin-bottom: 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card-text a:hover {
	cursor: pointer;
}

.ohr-btn-div {
	margin-top: 10px;
	float: left;
}

#review-no {
	margin: 0px;
}

#review-title {
	font-size: 38px;
	margin: 0px;
}

#review-title-div {
	margin-bottom: 0;
}

#review-contents-div div span p img {
	max-width: 47rem;
}

#review-id-img {
	width: 40px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	border-radius: 50px;
	text-align: left;
	margin: 0;
	font-size: 12px;
	vertical-align: middle;
	line-height: 150px;
}

#review-id {
	margin: 0px;
	font-size: 16px;
	position: absolute;
	top: 0;
	left: 4em;
}

#review-createdDate {
	margin: 0;
	position: absolute;
	top: 1.5em;
	left: 5em;
}

#review-viewCount {
	position: absolute;
	top: 1.5em;
	left: 12em;
}

#review-contents-div {
	margin-top: 30px;
}

#ohr-rev-btn {
	float: right;
	padding-bottom: 1rem;
}