@charset "UTF-8";

.bit-main-header {
  min-height: 60px;
}

#bit-login-state img {
  height: 30px;
}

#bit-not-login-state {
  padding-right:5px;
}

#bit-login-state {
  padding-right:5px;
}

#bit-auth-div {
  padding-right:5px;
}

#login-username {
  color:white;
  font-size:15px;
  font-weight:bold;
  text-align: center;
}

#ohr-header {
    font-size: 27px;
    font-weight: bold;
    text-align: center;
    width: 100px; 
    margin: 0 auto;
}


#navbarCollapse{
font-size:14px;
font-weight:bold;
}

#navbarCollapse ul{
height:50px;
list-style:none;
}

#navbarCollapse li{
float:left;
}

#navbarCollapse li a{
color:#cccccc;
display:block;
font-weight:normal;
line-height:50px;
margin:0px;
padding:0px 25px;
text-align:center;
text-decoration:none;
}

#navbarCollapse li a:hover, #navbarCollapse ul li:hover a{
background: rgb(63, 64, 66);
color:#FFFFFF;
text-decoration:none;
}

#navbarCollapse li ul{
background: rgb(109,109,109);
display:none;
height:auto;
padding:0px;
margin:0px;
border:0px;
position:absolute;
width:200px;
z-index:200;
}

#navbarCollapse li:hover ul{
display:block;
}

#navbarCollapse li li {
background: rgb(109,109,109);
display:block;
float:none;
margin:0px;
padding:0px;
width:200px;
}

#navbarCollapse li:hover li a{
background:none;
}

#navbarCollapse li ul a{
display:block;
height:50px;
font-size:12px;
font-style:normal;
padding:0px 10px 0px 15px;
text-align:left;
}

#navbarCollapse li ul a:hover, #navbarCollapse li ul li:hover a{
background: rgb(71,71,71);
border:0px;
color:#ffffff;
text-decoration:none;
}

#navbarCollapse p{
clear:left;
}







