body {
	background: #F9F9F9;
}
.container-fluid {
	padding: 0;
}

.jumbotron {
  background-image: url(manual.jpg);
  background-repeat: no-repeat;
  background-position: 0% 0%;
  background-attachment: fixed;
  margin: 0;
  color: white;
}

.jumbotron p {
  color: white !important;
}

th:nth-child(1) {
  width: 500px;
  text-align: center;
}

th:nth-child(2) {
  text-align: center;
  width: 100px;
}

th:nth-child(3) {
	text-align: center;
  width: 100px;
}

td:nth-child(2) {
  text-align: center;
}

td:nth-child(3) {
  text-align: center;
  width: 100px;
}
div.tableRow {
	min-height: 50vh;
}

.card {
  max-width: 210px;
  margin: auto;
}

.card-img {
  height: 340px;
}

p.card-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-height: 4.8em;
  height: 19px;
}

img {
	height: 250px;
	width: 250px;
}

.img-thumbnail {
	margin: auto;
	height: 170px;
	max-width: 200px;
	max-height: 170px;
	overflow: hidden;
}

/* .hovereffect:hover {
  position: relative;
  overflow: hidden;
  maring: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 220px;
  width: 100%;
  background: #000000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
} */

.download {
	border: 1px solid gray;
	height: 300px;
	width: 300px;
}

#pagination-container {
  width: 350px;
}
