th:nth-child(1) {
  width: 500px;
  text-align: center;
}

th:nth-child(2) {
  text-align: center;
  width: 100px;
}

th:nth-child(3) {
	text-align: center;
  width: 100px;
}

td:nth-child(2) {
  text-align: center;
}

td:nth-child(3) {
  text-align: center;
  width: 100px;
}

p.card-text {
  max-height: 4.8em;
  overflow: hidden;
  display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

#pagination-container {
  width: 350px;
  margin: 0 auto;
}
