* {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	text-align: center;
	height: 50px;
	position: fixed;
}

b {
	display: inline-block;
	margin-left: 50px;
	padding-top: 15px;
	cursor: pointer;
}

div {
	width: 100vw;
	height: 100vh;
}

#window1 {
	background-color: orange;
}

#window2 {
  background-color: pink;
}

#window3 {
  background-color: gray;
}

#window4 {
  background-color: skyblue;
}