/* 배경 */
body {
  background: #f9f9f9;
}

/**/
/* 대분류-소분류-제품명 */
/* 대분류-소분류 */
.category {
  height: 45px;
  text-align: left;
}

/* 카테고리 */
.categoryItem {
  font: 1.5em HanSans;
  color: black;
}

/* 제품명 */
#productName {
  font: 3em HanSans;
  color: black;
  font-weight: bold;
  max-height: 4.8em;
  overflow: hidden;
}

/* 제조사 */
#memberName {
  font: 1em HanSans;
  font-weight: bold;
  color: black;
}

/* 제품 요약 설명 */
#contents {
  text-align: center;
  font: 1.5em HanSans;
  color: black;
}
/* 사진 정보 */
#fileDiv {
  text-align: center;
  min-height: 80vh;
}

.contPhoto {
  max-width: 100%;
}

/**/

/* 탭 정보 */
/* 탭 창 */
#myTabContent {
  min-height: 80vh;
}

/* 탭 선택 창 */
#myTab {
  background: white;
  color: black;
  max-width: 100%;
}

/* 각 태그 눌리기 전 상태 */
.nav-link {
  color: gray;
}

/* 탭 하단 영역 */
.tab-content {
  color: black;
}

/* 탭 눌렀을 때 굵게 표시 */
.active {
  font-weight: bold;
}

/* 탭 하단 글 내용 */
#textconts {
	text-align: center;
	max-width: 100%;
  min-height: 80vh;
  min-width: 500px;
  font-size: 2em;
  margin-right: 150px;
}

/* 탭 하단 사진 */

#textimg {
  max-width: 300px;
  max-height: 300px;
}

#textimg > a {
  border-radius: 3px;
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
}

.videosection {
	padding-top: 1rem;
	text-align: center;
}

#videoconts {
	font-size: 1.5em;
	font-style: bold;
}

#img-src {
	width: 300px;
	height: 300px;
}

#pdf-src {
	min-width: 300px;
	min-height: 300px;
}

#textimg > img {
	-webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  width: 100%;
}
.download {
	margin-left: 100px;
}
#textimg > a:hover > img {
	-webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
  padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
  padding: 0;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

