/* 배경 */
body {
  background: #f9f9f9;
}

/**/

/* 대분류-소분류-제품명 */
/* 대분류-소분류 */
.category {
  height: 45px;
  text-align: left;
}

/* 카테고리 */
.categoryItem {
  font: 1em HanSans;
  color: black;
}

/* 제품명 */
#productName {
  font: 1.5em HanSans;
  color: black;
  font-weight: bold;
  max-height: 4.8em;
  overflow: hidden;
}

/* 제조사 */
#memberName {
  font: 1em HanSans;
  font-weight: bold;
  color: black;
}

/* 제품 요약 설명 */
#contents {
	text-align: center;
  font: 1.5em HanSans;
  color: black;
}
/* 사진 정보 */
#fileDiv {
  text-align: center;
}

.contPhoto {
	max-width: 100%;
}

/**/

/* 탭 정보 */
/* 탭 창 */
#myTabContent {
  min-height: 100vh;
}

/* 탭 선택 창 */
#myTab {
  background: white;
  color: black;
  max-width: 100%;
}

/* 탭 하위 태그 자식들 */
#conts {
  max-width: 100%;
  text-align: center;
}


/* 각 태그 눌리기 전 상태 */
.nav-link {
  color: gray;
}

/* 탭 하단 영역 */
.tab-content {
  color: black;
}

/* 탭 눌렀을 때 굵게 표시 */
.active {
  font-weight: bold;
}

/* 탭 하단 글 내용 */
#textconts {
	min-height: 100vh;
  min-width: 300px;
  font-size: 30px;
  float: left;
}

/* 탭 하단 사진 */
#textimg {
	min-height: 100vh;
  max-width: 300px;
  min-width: 100px;
  float: right;
}
