/* 배경 */
body {
  background: #f9f9f9;
}

/**/

/* 대분류-소분류-제품명 */
/* 대분류-소분류 */
.category {
  height: 45px;
  text-align: left;
}

/* 카테고리 */
.categoryItem {
  font: 1.5em HanSans;
  color: black;
}

/* 제품명 */
#productName {
  font: 3em HanSans;
  color: black;
  font-weight: bold;
  max-height: 4.8em;
  overflow: hidden;
}

/* 제조사 */
#memberName {
  font: 1em HanSans;
  font-weight: bold;
  color: black;
}

/* 제품 요약 설명 */
#contents {
  text-align: center;
  font: 1.5em HanSans;
  color: black;
}
/* 사진 정보 */
#fileDiv {
  text-align: center;
}

.contPhoto {
  max-width: 100%;
}

/**/

/* 탭 정보 */
/* 탭 창 */
#myTabContent {
  min-height: 100vh;
}

/* 탭 선택 창 */
#myTab {
  background: white;
  color: black;
  max-width: 100%;
}

/* 탭 하위 태그 자식들 */
#conts {
  max-width: 100%;
  text-align: center;
}


/* 각 태그 눌리기 전 상태 */
.nav-link {
  color: gray;
}

/* 탭 하단 영역 */
.tab-content {
  color: black;
}

/* 탭 눌렀을 때 굵게 표시 */
.active {
  font-weight: bold;
}
.main-gallery > ul > li a {
  border: 3px solid #FFF;
  border-radius: 3px;
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
}
.main-gallery > ul > li a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  width: 100%;
}
.main-gallery > ul > li a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.main-gallery.dark > ul > li a {
  border: 3px solid #04070a;
}

