/* 배경 */
body {
  background: #f9f9f9;
}

.manual {
  position: relative;
  width: 90vw;
  margin: auto;
}
/**/

/* 대분류-소분류-제품명 */
/* 대분류-소분류 */
.category {
  height: 45px;
  text-align: left;
}

/* 제품명 */
.categoryItem {
  font: 14px HanSans;
  color: black;
}

/* 제품 간단 정보 */
.simpleConts {
  margin: 0px;
}

.summar {
}
/* 제품명 */
#productName {
  width: 40%;
  font: 40px HanSans;
  color: black;
  font-weight: bold;
  max-height: 4.8em;
  overflow: hidden;
}
/* 제조사 */
#memberName {
  width: 120px;
  font: 16px HanSans;
  font-weight: bold;
  margin: auto 0;
  color: black;
  padding-bottom: 15px;
}
/* 제품 요약 설명 */
#contents {
	text-align: center;
  font: 16px HanSans;
  color: black;
}
/* 사진 정보 */
#fileDiv {
  text-align: center;
}

.pic {
  min-width: 210px;
}

#info_container {
  position: fixed;
  text-align: center;
  float: inherit;
  height: 200vh;
}


hr {
  background-color: white;
  height: 10px;
}
/**/

/* 탭 정보 */
/* 탭 선택 창 */
#myTab {
  background: white;
  width: 100%;
  color: black;
  max-width: 1100px;
  min-width: 200px;
}

/* 메뉴얼 창 */
#manual_container {
  position: absolute;
  background-color: white;
  top: 0;
}

/* 탭 하위 태그 자식들 */
#conts {
  padding: 20px;
  width: 70vw;
  height: 100vh;
  margin: auto;
  max-width: 1000px;
  min-width: 200px;
  text-align: center;
}


/* 각 태그 눌리기 전 상태 */
.nav-link {
  color: gray;
}

/* 탭 하단 영역 */
.tab-content {
  padding: 30px;
  color: black;
}

/* 탭 눌렀을 때 굵게 표시 */
.active {
  font-weight: bold;
}

/* 탭 하단 글 내용 */
#textconts {
  width: 50%;
  min-width: 300px;
  font-size: 30px;
  float: left;
}

/* 탭 하단 사진 */
#textimg {
  width: 50%;
  max-width: 300px;
  min-width: 100px;
  margin: auto;
  float: right;
}
