#noDataP {
	font-size: 20px;
	text-align: center;
}

#checkBox-span {
	margin-left: 400px;
}

#my-br {
	margin-bottom: 50px;
}


.question-ck {
  font: bold;
}

.bit-list {
  min-height: 500px;
}

.page-container {
	margin-left: 40%;
}

.jumbotron {
  background-image: url(image/jumbo.jpg);
  background-repeat: no-repeat;
  background-position: 60% 50%;
  background-attachment: fixed;
  margin: 0;
  color: white;
}

.jumbotron p {
  color: white !important;
}
