#noDataP {
  font-size: 20px;
  text-align: center;
}

#checkBox-span {
  margin-left: 400px;
}

#my-br {
  margin-bottom: 50px;
}

.question-ck {
  text-align: center;
}

.bit-list {
  min-height: 500px;
}

.page-container {
  margin-left: 40%;
}

.jumbotron {
  background-image: url(image/jumbo.jpg);
  background-repeat: no-repeat;
  background-position: 60% 50%;
  background-attachment: fixed;
  margin: 0;
  color: white;
}

.jumbotron p {
  color: white !important;
}

.my-ck-box {
  -ms-transform: scale(1.3); /* IE */
  -moz-transform: scale(1.3); /* FF */
  -webkit-transform: scale(1.3); /* Safari and Chrome */
  -o-transform: scale(1.3); /* Opera */
  padding: 5px;
  border-radius: 3px;
}

.cont-tr:hover {
 cursor: pointer; 
}

#question-type {
  margin-bottom: 25px;
  width: 170px;
}

.custom-checkbox {
  top: 10px;
  font-size: 15px;
  display: inline;
  margin-left: 57%;
}

#master-option {
  margin-top: -10px;
}
