h3 {
	text-align: center;
}

.bit-label {
	border: 0px;
	width: 250px;
}

#bit-qes-label1, #bit-ans-label1 {
	margin-left: 5px;
}

#bit-qes-label2, #bit-ans-label2 {
	font-weight: bold;
	text-align: center;
	position: absolute;
}

#bit-qes-label3, #bit-ans-label3 {
	text-align: right;
	position: absolute;
	margin-left: 260px;
}

.my-hr {
	border: 0px;
	height: 3px;
	background-color: black;
}

hr {
	border: 0px;
	height: 1px;
	background-color: gray;
}

.my-class-title {
	margin-left: 30px;
	padding: 5px;
	width: 680px;
	height: 40px;
	font-weight: bold;
}

.my-text {
	margin-left: 30px;
	padding: 5px;
	resize: none;
}

#file-p {
	font-weight: bold;
	text-align: left;
}

#file-div {
	margin-left: 50px;
}